*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    width: 90vw;
    /* box-shadow: 0px 0px 10px #000; */
    height: auto;
    background: #ccc;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    button{
        width: 70px;
        height: 35px;
        font-size: 18px;
        margin: 20px;
        background: blue;
        color: #ffff;
        cursor: pointer;
        border: none;
    }
}

.text-box{
    width: 100%;
    height: 120px;
    /* border: 2px solid rgb(13, 14, 13); */
    border-bottom: 2px solid rgb(240, 232, 232) ;
    text-align: center;

    h1{
        padding: 10px;
        font-size: 35px;
    }

    h2{
        font-size: 30px;
        font-weight: bolder;
        box-shadow: 0 0 20px #7d8b7d;
        width: 300px;
        margin: auto;
        border-radius: 20px;
    }
}

.costomer-box{
    width: 65vw;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    /* border: 2px solid rgb(20, 20, 20); */
    margin: 5px;
}

.costomer-data{
    width: 40vw;
    /* border: 1px solid rgb(17, 17, 17); */

    label{
        font-size: 18px;
        padding: px;
        display: block;
        
    }
    input{
        width: 400px;
        height: 30px;
        border-radius: 10px;
        border: none;
        font-size: 18px;
        padding: 10px;
        /* margin: 15px; */
    }
}

.data{
    width: 25vw;
    height: auto;
    /* border: 2px solid black; */

    label{
        font-size: 20px;
        padding: 10px;
        display: block;
        margin: 0;
        padding: 0;
    }

    input{
        width: 200px;
        height: 30px;
    }
    
}
@media(max-width: 800px){
    .container{
        width: 100%;
    }
    .container .text-box{
        width: 100vw;
    }
    
    .costomer-box{
        width: 100vw;
        height: auto;
        border: 2px solid rgb(14, 13, 13);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
    
    .costomer-data{
        width: 90vw;
        margin: 10px auto;
        margin: 0;
        border: 2px solid red;
    
        label{
            display: block;
            padding: 5px;
            font-size: 20px;
        }
        input{
            display: block;
            width: 100%;
            height: 40px;
            font-size: 20px;
            border-radius: 20px;
            border: none;
            padding: 10px;
            font-size: 20;
        }
    }
    
    .data{
        width: 80vw;
        border: 2px solid rgb(13, 14, 13) ;
        margin-left: 10px;

    
    }
}
/*  */
.invoice-box{
    width: 65vw;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(12, 12, 12);

    form{
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid rgb(10, 10, 10);

        label{
            font-size: 25px;
            padding: 10px;
        }
        input{
            width: 180px;
            height: 25px;
            padding: 5px;
            /* margin: 5px 20px; */
        }

        input[type=number]{
            text-align: right;
            /* padding: 10px; */
            padding: 0;
            width: 120px;
        }
    }
    
    input[type=submit]{
        width: 60px;
        height: 30px;
        font-size: 18px;
        background: rgb(11, 77, 107);
        border: none;
        color: honeydew;
        cursor: pointer;
        font-weight: bold;
    }
}
/*  */
@media (max-width: 800px) {
    .invoice-box{
        width: 100vw;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: auto;
               
            label{
                display: block;
                padding: 0;
                font-size: 30px;
            }
            input{
                width: 100%;
                border-radius: 20px;
                border: none;
                padding: 10px;
                margin: 10px;
                height: 40px;
            }
            
        }
        input[type=submit]{
            display: block;
            width: 100px;
            height: 50px;
            margin: 10px auto;
        }
    }
}
/*  */
.table-box{
    width: 80vw;
    border: 2px solid black;
    box-shadow: 1px 1px 15px white;
    margin-top: 10px;

    table{
        /* border-bottom: 2px solid black; */
        width: 80vw;
        text-align: center;
        font-size: 20px;
        thead{
            border-bottom: 2px solid black;
            td{
                border: 1px solid black;
                font-size: 25px;
            }
        }
        tbody{
            td{
                border-bottom: 1px solid black;
            }
        }
    }
}
/*  */
@media(max-width: 800px){
    .table-box{
        width: 100vw;
        border: 2px solid black;
    
        table{
            border: 2px solid black;
            width: 100vw;
            text-align: center;
            font-size: 20px;
    }
}
}

.container .totalPrice{
    width: 80vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    border: 1px solid black;

    h3{
        padding: 10px;
    }

}

@media(max-width: 800px){
    .container .totalPrice{
        width: 100%;
        padding-right: 25px;
    }
}
/*  */